.wp-block-catia-cards {
	--cards-marker-color: yellow;
	--cards-marker-size: 1.2em;
	--cards-marker-weight: bold;
	--cards-marker-margin-block: 6.25rem;

	&.layout-vertical {
		> .card-list {
			display: flex;
			flex-direction: column;
			gap: var(--medium-gap);

			.wp-block-catia-card {
				@media (hover:hover) {
					&:hover {
						--card-border-color: var(--dv-primary-dark);
					}
				}
			}
		}
	}

	// styles specific to the grid layout
	&.layout-grid {
		> .card-list {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(26rem, 1fr));
			gap: var(--medium-gap);

			&.with-numbers {
				li {
					list-style-position: inside;

					&::marker {
						display: block;
						position: relative;
						font-family: inherit;
						content:"0" counter(list-item);

						font-size: var(--cards-marker-size);
						font-weight: var(--cards-marker-weight);
						color: var(--cards-marker-color);

						@media (hover: hover) {
							transition: color 0.3s ease-in-out;
						}
					}

					.wp-block-heading {
						margin-block-start: var(--cards-marker-margin-block);
					}
				}
			}
		}

		@media (hover: hover) {
			&:hover {
				.wp-block-catia-card {
					opacity: 0.65;
					filter: blur(2px);

					&:hover {
						opacity: 1;
						filter: none;
					}
				}
			}
		}
	}
}

.wp-block-catia-card {
	--card-border-color: #555;
	--card-radius: 0;
	--card-padding: 20px;

	border-radius: var(--card-radius);
	border: 2px solid var(--card-border-color);
	padding: var(--card-padding);
}

